body {
    background-color: #EAEAEA;
    font-family: 'Nunito', sans-serif;
}

.card {
    width: 249px;
    min-height: 376px;
    
}

.container {
    padding: 50px;
}

.bg-degrade {
    background: -webkit-linear-gradient(left,rgba(23,103,239,.85),rgba(20,196,251,.85));
}

.btn-blue {
    background-color: rgba(20,196,251,.85);
}

.btn-super {
    width: 100%;
}

.navbar {
    width: 100vw;
} 

.menu {
    margin-top: 60px;
}