html, body {
    height: 100%;
    min-height: 100%;
  }
   
   
  .centralizar {
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
