.ghost-span {
  font-size: 0px;
  line-height: 0px;
  display: inline;
  width: 0px;
  height: 0px;
  pointer-events: none;
  position: relative;
  direction: ltr !important;
}
.ghost-span:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -3px;
  top: -3px;
}
.ghost-span.top {
  vertical-align: top;
}
.ghost-span.bottom {
  vertical-align: bottom;
}
.ghost-span.wide {
  width: 20%;
}
.ghost-span.mode-block {
  display: block;
  clear: both;
}
.ghost-span.mode-float-right {
  float: right;
}
.ghost-span.mode-float-left {
  float: left;
}
.kit-scrollbar {
  overflow: auto;
}
.kit-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.kit-scrollbar::-webkit-scrollbar:horizontal {
  display: none;
}
.kit-scrollbar::-webkit-scrollbar-track {
  background-color: #2b2b2b;
  background-clip: padding-box;
  border-style: solid;
  border-color: #212121;
  border-width: 0 0 0 1px;
}
.kit-scrollbar::-webkit-scrollbar-track:horizontal {
  border-width: 0 0 0 0;
}
.kit-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 0 1px;
  background-clip: content-box;
}
.kit-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5e5e5e;
}
.kit-scrollbar::-webkit-scrollbar-thumb:hover:disabled {
  background-color: #404040;
}
.kit-scrollbar.with-horizontal::-webkit-scrollbar:horizontal {
  display: block;
}
.kit-scrollbar.with-horizontal::-webkit-scrollbar-track:horizontal {
  border-width: 1px 0 0 0;
}
.kit-scrollbar.with-horizontal::-webkit-scrollbar-thumb:horizontal {
  border-width: 1px 0 0 0;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button {
  display: block;
  height: 11px;
  position: relative;
  background-color: #4d4d4d;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/gen/img/sprites/scrollbars.f8bcb5d750.png);
  background-repeat: no-repeat;
  border-color: #212121;
  border-style: solid;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:hover {
  background-color: #5e5e5e;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:disabled {
  background-color: #404040;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:vertical {
  background-position-x: -10px;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:vertical:hover {
  background-position-x: -20px;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:vertical:disabled {
  background-position-x: 0px;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0px 0px 1px 1px;
  background-position-y: 0px;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:vertical:increment {
  border-width: 1px 0px 0px 1px;
  background-position-y: -10px;
}
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:start:increment,
.kit-scrollbar.with-arrows::-webkit-scrollbar-button:end:decrement {
  display: none;
}
@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .kit-scrollbar.with-arrows::-webkit-scrollbar-button {
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/gen/img/sprites/scrollbars@2x.cabbabb21a.png);
    background-size: 60px;
  }
}
.kit-scrollbar.with-arrows.with-horizontal::-webkit-scrollbar-button:horizontal {
  display: none;
}
.kit-scrollbar::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}
.wf-editing-text {
  outline: 1px solid #178df7;
  outline-offset: 6px;
  -webkit-box-shadow: 0 0 12px 5px rgba(23, 141, 247, 0.25);
  box-shadow: 0 0 12px 5px rgba(23, 141, 247, 0.25);
  position: relative;
  z-index: 2;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
html {
  overflow: auto;
}
html.site-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: auto;
}
html.wf-drag-mode * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
html.wf-drag-mode.wf-drag-clone * {
  cursor: copy !important;
}
html.wf-drag-mode.wf-drag-inverse > .wf-drop-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  pointer-events: none;
}
html.wf-drag-mode.wf-drag-inverse * {
  cursor: no-drop !important;
}
html.wf-drag-mode.wf-drag-inverse .wf-drop-allowed,
html.wf-drag-mode.wf-drag-inverse .wf-drop-allowed * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
html.wf-drag-mode.wf-drag-inverse.wf-drag-clone .wf-drop-allowed,
html.wf-drag-mode.wf-drag-inverse.wf-drag-clone .wf-drop-allowed * {
  cursor: copy !important;
}
html.wf-xray-on * {
  outline: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline-offset: -1px !important;
}
html.wf-xray-on .wf-control * {
  outline: none;
}
html.wf-show-affected .wf-affected {
  outline: 1px solid #e437ff;
  outline-offset: -1px;
  -webkit-box-shadow: inset 0 0 0px 5px rgba(228, 55, 255, 0.25);
  box-shadow: inset 0 0 0px 5px rgba(228, 55, 255, 0.25);
}
html.wf-hide-empty .wf-empty {
  height: auto;
  min-width: 0;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-bottom: 0;
  padding-right: 0;
}
html.wf-hide-empty .wf-empty::after,
html.wf-hide-empty .wf-empty::before {
  display: none;
}
html.wf-show-pos-parent .wf-pos-parent {
  outline: 2px solid #ff542e;
  outline-offset: 1px;
}
html.wf-design-mode {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html.wf-design-mode * {
  cursor: default;
  -webkit-user-drag: none;
}
html.wf-design-mode.wf-resizing * {
  -webkit-transition: none !important;
  transition: none !important;
}
html.wf-design-mode.wf-resizing.wf-image-resizing * {
  cursor: nwse-resize !important;
}
html.wf-design-mode.wf-resizing.wf-query-resizing * {
  cursor: ew-resize !important;
}
html.wf-design-mode .w-slider-dot {
  cursor: pointer;
}
html.wf-design-mode .w-embed > *,
html.wf-design-mode .w-widget > * {
  pointer-events: none !important;
}
html.wf-design-mode .w-widget:empty {
  min-width: 300px;
  min-height: 75px;
  background-color: #ededed;
}
html.wf-design-mode .w-widget.w-widget-map:empty {
  min-width: 0;
  min-height: 0;
}
html.wf-design-mode .w-embed:empty {
  min-height: 75px;
}
html.wf-design-mode .w-embed.w-script {
  min-height: 75px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAkCAYAAAD7PHgWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASRJREFUeNrM11ENgzAQgOFuCpCABCQgAQlIQEIdIAEJSKgE5qASmAPWJpCQbdDe9dq7Jvc6voz0300putO6Wd1sbjol8Cw7btuhlSRcf8Ido6Xg/Ddl/wD91BKA+gLnZ+LG1aeLcTUtJ3AK4PwYLlwTgTum5wAaANCWxnUAHEt2LAJYLN4DAlcsO9VNVr7PxhHv8ebBscBs2akDry8WmC3eMyFwoca1ERcAAiSP95IBSJadPjIhUCBJvCtAlDHANTU7GhBhDDAp3jG7HgUQnZ0J+JAUIDjejYL/zqYAwX9VjcIvBNixlFHONVHZsYzAYLwHRtwxI2bXK3FJgjujTvxQSqCB7nqlgT/xngUCFwlZidoZjWDg+rh4PWLO081LsO/9EWAAerCRFDZulF0AAAAASUVORK5CYII=);
  background-position: 16px 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #ededed;
}
html.wf-design-mode .w-embed.w-script:before {
  content: 'This <script> embed will only appear on the published/exported site.';
  padding: 28px 28px 28px 51px;
  color: #404040;
  font-style: italic;
  line-height: 17px;
  position: initial;
}
html.wf-design-mode .w-embed.w-video {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/video-placeholder.v1.svg');
  background-size: cover;
  background-position: 50% 50%;
}
html.wf-design-mode .w-embed.w-video:empty {
  padding-bottom: 56.25%;
}
html.wf-design-mode figure.w-richtext-figure-type-video > div:before,
html.wf-design-mode figure[data-rt-type="video"] > div:before {
  display: block;
}
html.wf-design-mode .w-richtext figure img {
  cursor: default!important;
}
html.wf-design-mode .w-background-video > video {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/bgvideo-placeholder.2c2372bb7e.svg');
}
html.wf-design-mode form:empty {
  background-color: #ededed;
  text-align: center;
  position: relative;
  overflow: hidden;
}
html.wf-design-mode form:empty:before {
  content: 'This form container is empty. Drop other form elements here.';
  display: block;
  width: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #404040;
  text-align: center;
  font-style: italic;
}
html.wf-design-mode .w-widget-facebook iframe,
html.wf-design-mode .w-widget-twitter iframe,
html.wf-design-mode .w-widget-gplus iframe {
  pointer-events: none;
}
html.wf-design-mode .w-slide:empty {
  outline: 1px dashed #555 !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 75px;
  padding-right: 75px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  height: 100%;
  min-height: 200px;
}
html.wf-design-mode .w-slide:empty.w-nav-button,
html.wf-design-mode .w-slide:empty.w-nav-brand,
html.wf-design-mode .w-slide:empty.w-nav-link {
  padding-bottom: 60px;
  min-width: 60px;
}
html.wf-design-mode .w-slide:empty.wf-grid {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
html.wf-design-mode .w-slide:empty.wf-grid.selected {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
html.wf-design-mode .w-nav-button:empty,
html.wf-design-mode .w-nav-brand:empty {
  padding-bottom: 60px;
}
html.wf-design-mode .w-nav-menu:empty {
  outline: 1px dashed #555 !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 75px;
  padding-right: 75px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  padding-bottom: 60px;
  width: 100px;
}
html.wf-design-mode .w-nav-menu:empty.w-nav-button,
html.wf-design-mode .w-nav-menu:empty.w-nav-brand,
html.wf-design-mode .w-nav-menu:empty.w-nav-link {
  padding-bottom: 60px;
  min-width: 60px;
}
html.wf-design-mode .w-nav-menu:empty.wf-grid {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
html.wf-design-mode .w-nav-menu:empty.wf-grid.selected {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
html.wf-design-mode .w-dyn-list.wf-no-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 75px;
  background-color: rgba(142, 102, 255, 0.1);
  outline: 1px dashed #8e66ff !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(142, 102, 255, 0.2), inset 0 0 0 4px rgba(255, 255, 255, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 4px rgba(142, 102, 255, 0.2), inset 0 0 0 4px rgba(255, 255, 255, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
html.wf-design-mode .w-dyn-list.wf-no-items:before {
  content: 'This collection does not contain any items';
  padding: 4px 25px;
  max-width: 70%;
  z-index: 2147483550;
  pointer-events: none;
  background-color: #8e66ff;
  border-radius: 2px;
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center !important;
  text-shadow: none !important;
  color: rgba(255, 255, 255, 0.9) !important;
  -webkit-font-smoothing: antialiased;
}
html.wf-design-mode .w-dyn-list.wf-no-items * {
  display: none;
}
html.wf-design-mode .w-dyn-item.wf-empty,
html.wf-design-mode .w-dyn-item:empty {
  outline: 1px dashed #8e66ff !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(142, 102, 255, 0.2), inset 0 0 0 4px rgba(255, 255, 255, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 4px rgba(142, 102, 255, 0.2), inset 0 0 0 4px rgba(255, 255, 255, 0), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  position: relative;
}
html.wf-design-mode .w-dyn-item.wf-empty:before,
html.wf-design-mode .w-dyn-item:empty:before {
  content: attr(data-dyn-label);
  position: absolute;
  left: 4px;
  top: 4px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center !important;
  text-shadow: none !important;
  color: #8e66ff !important;
  padding: 3px 7px 5px 3px;
  background-color: rgba(142, 102, 255, 0.2);
  border-radius: 0 0 2px 0;
}
html.wf-design-mode .w-dyn-list.wf-unbound {
  position: relative;
  background-color: rgba(142, 102, 255, 0.08);
}
html.wf-design-mode .w-dyn-list.wf-unbound:before {
  content: '';
  z-index: 2147483549;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(142, 102, 255, 0);
  -webkit-transition: background-color 50ms ease;
  transition: background-color 50ms ease;
}
html.wf-design-mode .w-dyn-list.wf-unbound .w-dyn-item.wf-empty:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
html.wf-design-mode .w-dyn-list.wf-unbound .w-dyn-item.wf-empty:nth-child(2):after {
  content: 'Double-click to connect to a collection';
  z-index: 2147483550;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 4px 25px;
  max-width: 70%;
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center !important;
  color: rgba(255, 255, 255, 0.9) !important;
  text-shadow: none !important;
  background-color: #8e66ff;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}
html.wf-design-mode .w-dyn-list.wf-unbound:hover:before {
  background-color: rgba(142, 102, 255, 0.1);
}
html.wf-design-mode.wf-read-only [data-force-open] {
  cursor: pointer;
}
html.wf-design-mode.wf-read-only [data-force-open] * {
  cursor: pointer;
}
html.wf-design-mode.wf-read-only [data-force-open].w-widget-facebook::before,
html.wf-design-mode.wf-read-only [data-force-open].w-widget-twitter::before,
html.wf-design-mode.wf-read-only [data-force-open].w-widget-gplus::before {
  display: none;
}
html.wf-design-mode.wf-read-only [data-force-open].w-widget-facebook iframe,
html.wf-design-mode.wf-read-only [data-force-open].w-widget-twitter iframe,
html.wf-design-mode.wf-read-only [data-force-open].w-widget-gplus iframe {
  pointer-events: auto;
}
html .w-widget-map:empty {
  position: relative;
  min-height: 0;
  background-color: #E0E0E0 !important;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/generic-map.6a27419cfd.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}
html .w-widget-map:empty:before {
  background: url(https://d3e54v103j8qbb.cloudfront.net/img/map-placeholder-icon.d5eee427ff.svg) white no-repeat;
  background-size: 12px 15px;
  background-position: 10px 10px;
  display: block;
  content: 'This is a generic map preview';
  color: #4d4d4d;
  font-weight: bold;
  font-family: Arial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: auto;
  left: 10px;
  bottom: 10px;
  padding: 7px 20px 3px 30px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  height: 52px;
  font-size: 12px;
  z-index: 100;
  width: 260px;
}
html .w-widget-map:empty:after {
  position: absolute;
  display: block;
  font-family: Arial;
  content: 'View actual map on published site';
  top: auto;
  left: 40px;
  width: 210px;
  bottom: 18px;
  font-size: 12px;
  color: #4d4d4d;
  z-index: 1000;
}
html .w-widget-map.wf-missing-api-key:empty {
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/maps/pin.9dd1f3cd10.svg);
  background-size: 70px 70px;
}
html .w-widget-map.wf-missing-api-key:empty:before {
  background: url(https://d3e54v103j8qbb.cloudfront.net/img/maps/key.6b2b1a4bb0.svg) white no-repeat;
  background-position: 10px 10px;
  content: "Google Maps API Key Required";
  font-style: italic;
}
html .w-widget-map.wf-missing-api-key:empty:after {
  content: 'Add an API key in Project Settings.';
  left: 40px;
}
html .w-widget-map.wf-invalid-api-key:empty {
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/maps/pin.9dd1f3cd10.svg);
  background-size: 70px 70px;
}
html .w-widget-map.wf-invalid-api-key:empty:before {
  background: url(https://d3e54v103j8qbb.cloudfront.net/img/maps/key.6b2b1a4bb0.svg) white no-repeat;
  background-position: 10px 10px;
  content: "Invalid API Key";
  padding: 7px 125px 3px 30px;
}
html .w-widget-map.wf-invalid-api-key:empty:after {
  content: 'Please follow instructions in settings.';
  left: 40px;
}
html img.typekit-badge {
  pointer-events: none !important;
}
html img.wf-resizing {
  outline: 1px solid transparent !important;
  outline-offset: -1px !important;
}
.w-dyn-items {
  display: block;
}
.w-dyn-empty {
  display: block;
}
.wf-drag-element {
  opacity: 0.5;
}
[contenteditable="true"] {
  outline: none;
  -webkit-box-shadow: 0 0 0px 4px rgba(23, 141, 247, 0.2);
  box-shadow: 0 0 0px 4px rgba(23, 141, 247, 0.2);
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
[contenteditable="true"],
[contenteditable="true"] * {
  cursor: text!important;
}
[contenteditable="true"] > p {
  min-height: 20px;
}
[contenteditable="true"].wf-inline:empty {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
}
[contenteditable="true"] [data-dyn-path] {
  cursor: pointer!important;
  position: relative;
}
[contenteditable="true"] [data-dyn-path]:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 1px dashed rgba(142, 102, 255, 0.5);
  background-color: rgba(142, 102, 255, 0.08);
  -webkit-box-shadow: inset 0 0 0 1px rgba(142, 102, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(142, 102, 255, 0.15);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
[contenteditable="true"] [data-dyn-path]:after {
  content: attr(data-dyn-path);
  position: absolute;
  z-index: 100000;
  background-color: #8e66ff;
  height: 18px;
  padding: 0 8px;
  right: 0;
  bottom: 0;
  font-size: 11px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  border-radius: 2px 0 0 0;
  opacity: 0.0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
[contenteditable="true"] [data-dyn-path]:hover:before {
  background-color: rgba(142, 102, 255, 0.2);
  border-style: solid;
  border-color: rgba(142, 102, 255, 0.7);
}
[contenteditable="true"] [data-dyn-path]:hover:after {
  opacity: 1.0;
}
.wf-empty {
  outline: 1px dashed #555 !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 75px;
  padding-right: 75px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}
.wf-empty.w-nav-button,
.wf-empty.w-nav-brand,
.wf-empty.w-nav-link {
  padding-bottom: 60px;
  min-width: 60px;
}
.wf-empty.wf-grid {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
.wf-empty.wf-grid.selected {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wf-grid.selected .wf-grid.wf-empty {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wf-empty-block {
  outline: 1px dashed #555 !important;
  outline-offset: -1px !important;
  -webkit-box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 4px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  height: 75px;
  min-width: 75px;
}
.w-col:empty {
  padding-right: 0;
}
[href-disabled-default-color] {
  color: -webkit-link;
}
[href-disabled-underline] {
  text-decoration: underline;
}
.wf-insert-ghost {
  line-height: 0px;
  font-size: 0px;
  width: auto;
  height: 0px;
  display: block;
  pointer-events: none;
  position: relative;
}
.wf-insert-ghost.wf-float {
  height: auto;
  width: 0px;
}
.wf-insert-ghost[data-mode="float-right"] {
  float: right;
}
.wf-insert-ghost[data-mode="float-left"] {
  float: left;
}
.wf-insert-ghost[data-mode="inline"] {
  display: inline-block;
}
.wf-ghost-span {
  font-size: 0px;
  line-height: 0px;
  display: inline;
  width: 0px;
  height: 0px;
  pointer-events: none;
  position: relative;
  direction: ltr !important;
}
.wf-ghost-span:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -3px;
  top: -3px;
}
.wf-ghost-span.top {
  vertical-align: top;
}
.wf-ghost-span.bottom {
  vertical-align: bottom;
}
.wf-ghost-span.wide {
  width: 20%;
}
.wf-ghost-span.mode-block {
  display: block;
  clear: both;
}
.wf-ghost-span.mode-float-right {
  float: right;
}
.wf-ghost-span.mode-float-left {
  float: left;
}
.g-recaptcha,
.g-recaptcha-error {
  width: 302px;
  height: 76px;
  margin-bottom: 2px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/recaptcha-placeholder.2f2b6d7841.svg');
  background-position: left center;
  background-size: 300px;
}
.g-recaptcha-error {
  position: relative;
}
.g-recaptcha-error:before {
  position: absolute;
  right: -1px;
  bottom: 6px;
  padding: 0px 5px;
  border-radius: 2px 0 0 2px;
  background-color: #c92c40;
  color: white;
  font-size: 10px;
  line-height: 17px;
}
.g-recaptcha-error.g-recaptcha-disabled:before {
  content: 'reCAPTCHA must be enabled in Project Settings';
  padding: 0px 17px;
}
.g-recaptcha-error.g-recaptcha-invalid-key:before {
  content: 'Site key must be set in Project Settings › Forms';
  padding: 0px 19px;
}
